[submodule ".vim/bundle/fzf"]
	path = .vim/pack/submodules/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/pack/submodules/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/pack/submodules/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/pack/submodules/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/pack/submodules/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/submodules/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/submodules/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/gv.vim"]
	path = .vim/pack/submodules/start/gv.vim
	url = https://github.com/junegunn/gv.vim.git
[submodule ".vim/pack/submodules/start/rust.vim"]
	path = .vim/pack/submodules/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
