[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
